.customQueryBox{
	width:80%;
}

#statusMessage{
	margin:0px;
	color:red;
}

#instructionBar{
	position:absolute;
	top:0px;
	right:0px;	
	background-color:lemonchiffon;
	width:30%;
	margin-top:5em;
	padding:0.5em;
}

#formBody{
    width:65%;
    margin-left:1em;
	text-align:center;
}

#tableSelect{
    width:300px;
    height:200px;
}



/*CustomQuery Form Styles*/
#tableRefBox{
	margin:0px auto;
	text-align:left;
	width:300px;
}

#tableRefBox ul{
	list-style-type:none;
	padding:0px;
}

/*CustomConnect Form Styles*/
.customConnectRow{
	margin:0px auto;
	text-align:left;
	min-width:300px;
	width:80%;
}

#textConnectionString{
    width:100%;
}