#statusMessage{
	margin:0px;
	color:red;
}

#instructionBar{
	position:absolute;
	top:0px;
	right:0px;	
	background-color:lemonchiffon;
	width:30%;
	margin-top:5em;
	padding:0.5em;
}

#formBody{
    width:65%;
    margin-left:1em;
	text-align:center;
}

#tableSelect{
    width:30em;
    height:20em;
}